<div class="Footer">
    <a href="https://www.facebook.com/ahmad.saleh.90410" class="CreatorAccount" target="_blank">Ahmad Saleh</a>
    <i class="fab fa-facebook fa-2x">
    </i>
</div>
<script src="/public/Js/BackEnd.js"></script>
</body>
</html>