     <!-- Start Header -->
     <%- include("./partials/Header.ejs") %> 
     <!-- End Header -->

    <!-- Start Navbar -->
    <%- include("./partials/Navbar.ejs") %> 
    <!-- Start Navbar -->

    <div class="NotFound">
        <div class="container">
            <h3>هذا الصفحة غير موجودة :(</h3>
            <img src="/public/Images/404.jpg" alt="">
            <a href="/">الرجوع الى الرئيسية</a>
        </div>
    </div>




    <!-- Start Footer -->
    <%- include("./partials/Footer.ejs") %> 
    <!-- End Footer -->