     <!-- Start Header -->
     <%- include("../partials/Header.ejs") %> 
     <!-- End Header -->

    <!-- Start Navbar -->
    <%- include("../partials/Navbar.ejs") %> 
    <!-- Start Navbar -->

     <div class="SignIn">
        <div class="MyTitle">
            <h2>اضافة مساهم</h2>
        </div>
        <div class="container">
            <form action="/Sponsor/Add" method="POST" enctype="multipart/form-data">
                <div class="Item">
                    <h3>الاسم</h3>
                    <input type="text" name="Name" id="" required>
                </div>

                <div class="Item">
                    <h3>اللقب</h3>
                    <input type="text" name="Title" id="">
                </div>

                <div class="Item">
                    <h3>الوصف</h3>
                    <textarea name="Description" id="" cols="30" rows="10" required></textarea>
                </div>

                <div class="Item">
                    <h3>صورة</h3>
                    <input type="file" name="Image" id="">
                </div>

                <div class="Item">
                    <h3>Facebook Url</h3>
                    <input type="text" name="Facebook" id="">
                </div>

                <div class="Item">
                    <h3>LinkedIn Url</h3>
                    <input type="text" name="LinkedIn" id="">
                </div>

                <div class="Item">
                    <h3>Instagram Url</h3>
                    <input type="text" name="Instagram" id="">
                </div>
                <button>اضافة</button>
            </form>
        </div>
     </div>






    <%- include("../partials/Footer.ejs") %> 